body {
    margin: 0;
    padding: 0;
    font-family: "Plus Jakarta Sans", Arial, sans-serif;
    background-color: #EBF7BC;
    color: #333;
}


header {
    margin-top: 10px;
    margin-bottom: 50px;
}

a {
    color: #EF6E39;
}

header h1 {
    font-size: 4.5em;
    color: #4069F8;
}

header h2 {
    font-size: 2.2em;
    color: #000;
}

p {
    font-size: 1.5em;
    color: #000;  
}

.flex-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    padding-left: 20px;
}

.footer {
    margin-top: auto;
    font-size: 1em;
    color: #000;
  }


.social-media {
    margin-top: 20px;
}

.social-media a {
    margin: 0 10px;
    display: inline-block;
}

.social-icons{
    color: #000;
    font-size: 2em; /* Adjust this value as needed */
}
.social-icons a:hover{
    color: #EF6E39;
}

.fa-solid.fa-turn-down {
    font-size: 2em; /* Adjust the size as needed */
    color: #333; /* Adjust the color as needed */
}


.sticker {
    position: absolute;
    top: 20px; /* Adjust position as needed */
    right: 20px; /* Adjust position as needed */
}

.sticker img {
    width: 150px; /* Adjust size as needed */
}

.arrow {
    padding-left: 10px;
    padding-top: 10px;
    height: 40px; /* Adjust size as needed */
}



/* Responsive design */
@media (max-width: 768px) {
    header h1 {
        font-size: 2.5em;
        padding-right: 100px;
    }
    header h2 {
        font-size: 1.3em;
    }

    p {
        font-size: 0.9em;
    }

    .social-icons {
        font-size: 1.5em;
    }

    .footer {
        font-size: 0.7em;
    }

    .sticker img {
        width: 80px; /* Adjust size as needed */
    }
    .arrow {
        height: 25px; /* Adjust size as needed */
    }
}
